@using System.Collections.Generic
@using MVCAssignment.Models
@model IEnumerable<IEnumerable<EventModel>>


@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    @{

        <table class="table">
            <thead >
                <th>Missed Events</th>
                 <th>Upcoming Events</th>   
            </thead>
                 <tbody>
                    
                     <tr>
                         @foreach (var item in Model)
                             {
                             <td>
                                 <ul>
                                     @foreach (var evt in item)
                                         {
                                         <li>@Html.ActionLink(@evt.Title, "ViewEvent", "BookReadingEvent", new { @evt.EventId }, null)</li>
                                         }
                                 </ul>
                             </td>
                             }
                     </tr>
                 </tbody>
        </table>
        
            }
</div>
